body {
    background: linear-gradient(to bottom, #ECF6F9 20%, #ffffff);
    min-height: 100vh;
}
.custom-navbar{
    background-color: transparent;
}
.startContainer > div{
    background: linear-gradient(to right, #def7ff, #ffffff);
}
.offcanvas{
    background: linear-gradient(to bottom, #def7ff, #ffffff);
}