body {
    background: linear-gradient(to bottom, #ECF6F9, #ffffff);
}
.custom-navbar{
    background-color: #ECF6F9;
}
.startContainer > div{
    background: linear-gradient(to right, #def7ff, #ffffff);
}
.offcanvas{
    background: linear-gradient(to bottom, #def7ff, #ffffff);
}